@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}



/* styles/scrollbar.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #CFCDEC; /* Background of the scrollbar track */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #CFCDEC; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #CFCDEC; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: thin; /* Set the scrollbar width */
  scrollbar-color: #CFCDEC; /* Color of the scrollbar thumb and track */
}




@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}